.welcome-header {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  color: #333;
  font-family: "Indie Flower", cursive;
  font-size: 35px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dropdown {
  display: inline-block;
  position: relative;
}

.dropbtn {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #555;
}
